<!--<div id="p-wrapper">-->
    <ul id="piano">
        <li *ngFor="let pianoKey of pianoKeys">
            <div class="anchor" [style.background]="getColor(pianoKey.whiteKeyId)" (click)="keyPress(pianoKey.whiteKeyId)"></div>
            <span *ngIf="pianoKey.blackKeyId" [style.background]="getColor(pianoKey.blackKeyId)" class="blackkey" (click)="keyPress(pianoKey.blackKeyId)"></span>
        </li>
    </ul>
<!--</div>-->
