<p>
  Please login
</p>

<input [(ngModel)]="username">
<select [(ngModel)]="selectedsession">
  <option *ngFor="let session of sessions" [value]="session">{{session}}</option>
</select>
<button (click)="login()" class="btn btn-primary">JOIN SESSION!</button>