
<span class="content">
  <div class="note-card" *ngIf="chord.root" (click)="selectedChord(currentNote)">
      <span class="name">{{chord.root.fullname}}</span>
      <span class="octave">{{chord.typeStr}}</span>
  </div>
  
  <!--<div class="note-card-or" *ngIf="alternateNote">
    <span> OR </span>
  </div>-->
  <!--<div class="note-card" *ngIf="alternateNote" (click)="playNote(alternateNote)">
    <span class="name">{{alternateNote.fullname}}</span>
    <span class="octave">OCTAVE {{alternateNote.octave}}</span>
  </div>-->
  
</span>

