.content {
   /*text-align: center;*/
   padding: 10px;
}

.note-card {
  display: inline-block;
  text-align: center;
  /*margin: 20px 10px;*/
  padding: 0px;
  width: 90px;
   background-color: #FFFFF2;
  color: #0D2534 ;
  border: 2px solid #435D6D ;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  cursor: pointer;
}

.note-card {
  .selected {
    color: #FFFFF2;
    background-color: #617986;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
}


.note-card-or {
  display: inline-block;
  text-align: center;
  font-size: 22px;
  color: #435D6D;
  width: 30px;
  padding-top: 50px;
  vertical-align: top;
}

.name {
  display: block;
  height: 60px;
  font-size: 40px;
  font-weight: bold;
  padding-top: 8px;
}

.octave {
  display: block;
  font-size: 14px;
  padding: 4px;
}
