<button (click)="goBack()" class="btn btn-warning"><i class="fa fa-backward"></i></button>
<div id="progression-view-component" class="panel">
    <app-progression-view></app-progression-view>
  </div>