<button (click)="setChordType(chordTypes.Minor)" class="btn btn-primary">Minor</button>
<button (click)="setChordType(chordTypes.Major)" class="btn btn-primary">Major</button>
<button (click)="toggleScaleMode()" class="btn btn-success"><i class="fa fa-keyboard-o"></i></button>