
<!--<div class="panel">
      <div>
         <note-info></note-info>
      </div>
  </div>-->
  <div id="editprogroute">

    

  
    <button (click)="goBack()" class="btn btn-warning"><i class="fa fa-backward"></i></button>
    <div id="buttonpanel">
      
      <app-button-panel>
        
      </app-button-panel>
      
    </div>

    <div id="progression-view-component" class="panel">
      <app-progression-view [cardsize]="'small'"></app-progression-view>
    </div>
    <div [hidden]="!scaleroottoggler.visible">
      <hr>
      <ul class="list-inline">  <!--dnd-sortable-container [sortableData]="chords">-->
        
        <li *ngFor="let chord of scalechords; let i = index" class="list-inline-item"> <!-- dnd-sortable [sortableIndex]="i"> -->
            <note-info  [chord]="chord" [cardsize]="'small'"></note-info>
        </li>
        
    </ul>
    </div>
    <!--<note-info [hidden]="!scaleroottoggler.visible" [chord]="scaletonic" [cardsize]="'small'"></note-info>
    <p [hidden]="!pickscaletoggler.visible">
      Pick your scale!
    </p>-->
    <div id="keyboard-component" [hidden]="!pianotoggler.visible">
      <keyboard (keyPlayed)="handleKeyPlayed($event)"></keyboard>
    </div>


  </div>