<div id="selectprogroute">

  <button (click)="createProgression()" class="btn btn-primary">create prog</button>

  <div>
    <div *ngFor="let prog of progressions" (click)="gotoProg(prog)">
      <span>{{prog.idprog}}</span>
      <span *ngFor="let chord of prog.chords">
        <note-info [chord]="chord" [cardsize]="'small'"></note-info>
        <!--{{chord.root | rootname}}
        {{chord.chordType | chordtypename}}-->
      </span>
    </div>
  </div>
</div>