#progression-prefix {
    margin: 0;
    padding: 0;
    overflow: hidden;
    
    min-height: 96.8 px;
    height: 96.8 px;

    
    

}

#progression-container {
    margin: 10px;
    display: inline;
}



li {
    float: left;
}

.btn {
    margin: 2px;
}
