<!-- <div class="panel-body">
    <ul class="list-group"> <!-- dnd-sortable-container [sortableData]="listOne"> -
        <li *ngFor="let item of listOne; let i = index" class="list-group-item" dnd-sortable [sortableIndex]="i">{{item}}</li>
    </ul>
</div> -->

<button (click)="copyProg()" class="btn btn-primary"><i class="fa fa-copy"></i></button>
<button (click)="broadcast()" class="btn btn-success"><i class="fa fa-group"></i></button>
<button (click)="removeChord()" class="btn btn-danger"><i class="fa fa-close"></i></button>

<!--<i (click)="copyProg()" class="fa fa-copy"></i>-->
<!--<i (click)="broadcast()" class="fa fa-group"></i>-->

<div id="progression-container">
    
    <ul class="list-inline">  <!--dnd-sortable-container [sortableData]="chords">-->
        
        <li *ngFor="let chord of chords; let i = index" class="list-inline-item"> <!-- dnd-sortable [sortableIndex]="i"> -->
            <note-info [chord]="chord" [cardsize]="cardsize"></note-info>
        </li>
        
    </ul>
</div>
<br /><br />
<br />
<!--<span *ngFor="let chord of chords">
  <note-info [chord]="chord"></note-info>
</span>-->
<!--<p>HI THERE</p>-->