/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";

#progression-view-component {
    min-height: 120px;
}

#keyboard-component {
    .anchor {
        height: 100px;
    }
}


#editprogroute, #selectprogroute {

    .list-inline {
        margin-bottom: 5px;
        margin-top: 2px;
        
    }

    .note-card {
        height: 70px;
        width: 70px;

        .name {
            font-size: 26px;
            height: 40px;
        }
    }

}
